/* bootstrap override */
body {
    font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.navbar-brand .brand-icon {
    width: 16px;
    display: inline-block;
}


.profile {
    display: inline-block;
    width: 48px;
    height: 48px;
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
}
