/* bootstrap override */
body {
    font-family: "Microsoft JhengHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* fullpage.js override */
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #6ACBE9;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border: 1px solid #48a9c7;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

/* base */



/* section */
.section {
    position:relative;
    overflow: hidden;
    text-align: center;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.section .page-header {
    margin-top: 0;
    opacity: 0;
    transition: opacity .5s ease .7s;
}
.section.active .page-header {
    opacity: 1;
    transition: opacity .5s ease .7s;
}


/* section main */
.section-main {
    background: linear-gradient(#a1e5e5, #1987aa);
    color: #333;

}

/* section slideshow */
.section-slideshow {
    background-color: #22313f;
    background: linear-gradient(#f4dee0, #fa8484);
    color: #fff;
    border-color: #fff;

}
    .photo-box {
        max-width: 960px;
        margin: auto;
        text-align: left;
        opacity: 0;
    }
        .photo-box figure {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            overflow:hidden;
            vertical-align: middle;
            border: 1px solid #fff;
        }
    .section-slideshow.active .photo-box {
        opacity: 1;
        transition: opacity 1s ease 1.2s;
    }
/* section discuss */
.section-discuss {

}
    .comment-input-box {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 40px;
        padding-top: 5px;
        border-top: 1px solid #eee;
    }
        .comment-input-box .user-photo {
            display: inline-block;
            width: 32px;
            height: 100%;
            background-size: cover;
            background-position: center center;
        }
        .comment-input-box .input-group * {
            border-radius: 0;
        }