/* fullpage.js override */
#fp-nav ul li a.active span, .fp-slidesNav ul li a.active span {
    background: #6ACBE9;
}
#fp-nav ul li a span, .fp-slidesNav ul li a span {
    top: 4px;
    left: 4px;
    width: 12px;
    height: 12px;
    border: 1px solid #48a9c7;
    background: transparent;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}

/* section */
.section {
    position:relative;
}
.section .page-header {
    padding-top: 5px;
    margin-top: 0;
}


/* section slideshow */
.section-slideshow {
    background-color: #22313f;
    color: #fff;
    border-color: #fff;
    text-align: center;
}
    .photo-box {
        max-width: 960px;
        margin: auto;
        text-align: left;
    }
        .photo-box figure {
            position: relative;
            display: inline-block;
            width: 40px;
            height: 40px;
            overflow:hidden;
        }
        .photo-box figure:before {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            content: " ";
            background: #000;
            opacity: 0.7;
            z-index: 1;
            cursor: pointer;
            -webkit-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }
        .photo-box figure:hover:before {
            opacity: 0;
            -webkit-transition: opacity 0.3s ease;
            -ms-transition: opacity 0.3s ease;
            -moz-transition: opacity 0.3s ease;
            transition: opacity 0.3s ease;
        }

/* section discuss */
.section-discuss {
    text-align: center;
}